*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #121f29;
}

header,
main {

    padding-left: 60px;
    padding-right: 60px;
    background-color: #121f29;
    justify-content: center;
    align-items: center;
    height: auto;
}


.ospersonagen{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffff;
    font-size: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #0f0f0f;
    margin: auto;
}

/* no Header */

.minimenu {
    padding-top: 10px;
    padding-left: 5px;
    display: flex;
    width: 100%;
    height: 90px;
    background-color: #000a41;
   
}

.minimenu span:nth-child(1) {
    color: rgb(255, 255, 255);
}

.minimenu span:nth-child(2) {
    color: #ee162f;
}

.minimenu span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
}

#div-imagen{
padding: 50px ;
width: 100%;
height: 600px;
background-color: black;
}

#div-imagen img{
    display: flex;
    margin: auto;
    width: auto;
}

/* no main */

.barrapequisa {
    width: 100%;
    height: 200px;
    background-color: #000a41;
    padding-left: 130px;
    padding-top: 20px;
    
}

.barrapequisa h1 {
    width: 100%;
    height: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    padding-left: 30px;
    color: #fff;
    white-space: nowrap;
    word-break: break-all;
}

.barrapequisa input {
    width: 80%;
    height: 20%;
    border-radius: 3rem;
    padding-left: 20px;
    margin-bottom: 10px;

}

.maisps{
    
    padding-left: 10px;
    width: 100%;
    height: 30px;
    display: flex;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.maisps p{
    margin-right: 10px;
}

.container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    gap: 10px ;
    color: #ffff;

}

.container .card{
    position: relative;
    max-width: 300px;
    height: 400px;
    background-color: #ee162f;
    margin: 50px 10px;
    margin-bottom: 60px;
    padding:  20px 30px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px #011101;
    transition: 0.3s ease-in-out;
}

.container .card:hover{  
    height: 600px;
    transition: 0.30s;
}

.container .card .imgbx{
   position: relative;
   width: 260px;
   height: 260px;
   margin-bottom: 15px;
   z-index: 1;

}

.container .card .imgbx img{
    max-width: 100%;
    height: 90%;
    border-radius: 4px;
    
    
}

.container .card .contet{
    position: relative;
    margin-top: -140px;
    text-align: center;
    color: rgba(17, 17, 17, 0.842);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .contet{
    visibility: visible;
    opacity: 1;
    margin-top: 30px;
    transition-delay: 0.3s;
}

.container .card p{
    font-family: 'Times New Roman', Times, serif;
    
}

.container .card h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffff;
}

.container .card h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contet h2{
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.897);
}

.contet p{
    font-size: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #ffff;

}